<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036123971540-2f6u5fsaj3klpfo55ttmpfaqq06cnj40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036123971540-2f6u5fsaj3klpfo55ttmpfaqq06cnj40</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036123971540-c3t7eoqstqcabk2d6p7pfr5q3jiq7he6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIRO0st4LXkFNJwUrbur-23MLgqyFhogY</string>
	<key>GCM_SENDER_ID</key>
	<string>1036123971540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ridewave.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ridewave-a250b</string>
	<key>STORAGE_BUCKET</key>
	<string>ridewave-a250b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036123971540:ios:73dd4a9967b11cf2b90041</string>
	<key>DATABASE_URL</key>
	<string>https://ridewave-a250b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>